/* line 1, V3-prove-eksame/css/style.scss */
body {
  background-color: #EFEAE2;
  font-family: 'Raleway'; }

/* line 6, V3-prove-eksame/css/style.scss */
h1 {
  font-size: 45px; }

/* line 10, V3-prove-eksame/css/style.scss */
h1,
h2,
h3,
h4 {
  font-family: 'Libre Baskerville'; }

/* line 17, V3-prove-eksame/css/style.scss */
header#main-header {
  background-color: #FFC63C; }

/* line 21, V3-prove-eksame/css/style.scss */
.header-container {
  margin: auto;
  max-width: 1366px;
  width: 100%; }

/* line 27, V3-prove-eksame/css/style.scss */
.margin-bot {
  margin-bottom: 20px; }

/* line 33, V3-prove-eksame/css/style.scss */
nav li {
  display: inline-block;
  list-style: none;
  margin-right: 3%; }

/* line 38, V3-prove-eksame/css/style.scss */
nav a {
  text-decoration: none;
  color: black; }

/* line 44, V3-prove-eksame/css/style.scss */
.current {
  text-decoration: underline; }

/* line 48, V3-prove-eksame/css/style.scss */
input[type=text]#seach {
  background-image: url(../img/searchicon.png);
  background-repeat: no-repeat;
  background-position: 100%;
  padding: 5px; }

/* line 55, V3-prove-eksame/css/style.scss */
input.log-in-box {
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px; }

/* line 61, V3-prove-eksame/css/style.scss */
button#log-in {
  background-color: white;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px; }

/* line 68, V3-prove-eksame/css/style.scss */
h4 {
  margin-bottom: 5px;
  font-size: 20px; }

/* line 74, V3-prove-eksame/css/style.scss */
.formGroup span {
  font-size: 20px; }

/* line 77, V3-prove-eksame/css/style.scss */
.formGroup input {
  background-color: white;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 50%;
  height: 25px; }

/* line 85, V3-prove-eksame/css/style.scss */
.formGroup textarea {
  background-color: white;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 50%;
  height: 40px; }

/* line 95, V3-prove-eksame/css/style.scss */
button#log-out {
  background-color: white;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px; }
  /* line 100, V3-prove-eksame/css/style.scss */
  button#log-out a {
    text-decoration: none;
    color: black; }

/* line 106, V3-prove-eksame/css/style.scss */
input.button-primary {
  background-color: white;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: underline; }

/* line 117, V3-prove-eksame/css/style.scss */
main#index .main-container {
  margin: 25px auto 10px;
  max-width: 1200px;
  width: 100%;
  background-color: white;
  padding: 10px 15px; }

/* line 125, V3-prove-eksame/css/style.scss */
main#index article img {
  width: 100%; }

/* line 129, V3-prove-eksame/css/style.scss */
main#index section {
  padding: 20px;
  margin-bottom: 10px; }

/* line 133, V3-prove-eksame/css/style.scss */
main#index section#dokumenter {
  background-color: darkorange;
  text-decoration: underline black;
  color: black; }

/* line 138, V3-prove-eksame/css/style.scss */
main#index section#link {
  background-color: lightblue;
  text-decoration: underline black;
  color: black; }

/* line 143, V3-prove-eksame/css/style.scss */
main#index section#marked {
  background-color: dodgerblue;
  text-decoration: underline black;
  color: black; }

/* line 148, V3-prove-eksame/css/style.scss */
main#index section#events {
  background-color: orange;
  text-decoration: underline black;
  color: black; }

/* line 155, V3-prove-eksame/css/style.scss */
footer#main-footer {
  background-color: #FFC63C; }

/* line 160, V3-prove-eksame/css/style.scss */
main#nyheder .main-container {
  margin: 25px auto 10px;
  max-width: 1200px;
  width: 100%;
  background-color: white;
  padding: 10px 15px; }

/* line 167, V3-prove-eksame/css/style.scss */
main#nyheder img {
  width: 100%; }

/* line 170, V3-prove-eksame/css/style.scss */
main#nyheder hr {
  border-top: 2px dotted lightgrey; }

/* line 176, V3-prove-eksame/css/style.scss */
aside#sponsorer h4 {
  font-size: 20px;
  line-height: 60px;
  background-color: lightgray;
  border: 1px solid grey;
  border-radius: 5px; }

/* line 183, V3-prove-eksame/css/style.scss */
aside#sponsorer img {
  border: 1px solid grey;
  border-radius: 5px;
  padding-top: 5px; }

/* line 188, V3-prove-eksame/css/style.scss */
aside#sponsorer .text-center {
  text-align: center; }

/* line 193, V3-prove-eksame/css/style.scss */
.footer-container {
  margin: auto;
  max-width: 900px;
  width: 100%;
  padding: 50px 0; }

/* line 201, V3-prove-eksame/css/style.scss */
footer .border-right {
  border-right: 1px solid black; }

/* line 204, V3-prove-eksame/css/style.scss */
footer .text-center {
  text-align: center; }

@media screen and (max-width: 991px) {
  /* line 210, V3-prove-eksame/css/style.scss */
  aside.d-none {
    display: none; } }

/*# sourceMappingURL=style.css.map */