    body {
        background-color: #EFEAE2;
        font-family: 'Raleway';
    }
    
    h1 {
        font-size: 45px;
    }
    
    h1,
    h2,
    h3,
    h4 {
        font-family: 'Libre Baskerville';
    }
    /* Header */
    
    header#main-header {
        background-color: #FFC63C;
    }
    
    .header-container {
        margin: auto;
        max-width: 1366px;
        width: 100%;
    }
    
    .margin-bot {
        margin-bottom: 20px;
    }
    /* Nav */
    
    nav {
        ul {}
        li {
            display: inline-block;
            list-style: none;
            margin-right: 3%;
        }
        a {
            text-decoration: none;
            color: black;
        }
        a:hover {
            text-decoration: underline black;
        }
    }
    
    .current {
        text-decoration: underline;
    }
    
    input[type=text]#seach {
        background-image: url(../img/searchicon.png);
        background-repeat: no-repeat;
        background-position: 100%;
        padding: 5px;
    }
    
    input.log-in-box {
        border: 1px solid grey;
        padding: 5px;
        border-radius: 5px;
    }
    
    button#log-in {
        background-color: white;
        padding: 5px;
        border: 1px solid grey;
        border-radius: 5px;
    }
    
    button#log-out {
        background-color: white;
        padding: 5px;
        border: 1px solid grey;
        border-radius: 5px;
        a {
            text-decoration: none;
            color: black;
        }
    }
    
    h4 {
        margin-bottom: 5px;
        font-size: 30px;
    }
    /* Form */
    
    .form-container {
        max-width: 700px;
        width: 100%;
        margin: auto;
        background-color: lightgray;
        border: 1px solid black;
        border-radius: 5px;
    }
    
    .formGroup {
        padding: 10px;
        span {
            font-size: 20px;
        }
        input {
            background-color: white;
            padding: 5px;
            border: 1px solid grey;
            border-radius: 5px;
            width: 97%;
            height: 25px;
        }
        textarea {
            background-color: white;
            padding: 5px;
            border: 1px solid grey;
            border-radius: 5px;
            width: 97%;
            height: 40px;
        }
    }
    
    
    .btn-indsaet {
        margin-left: 10px;
        input.button-primary {
            background-color: white;
            padding: 5px;
            margin: 5px 0;
            border: 1px solid grey;
            border-radius: 5px;
            font-size: 20px;
            width: 150px;
        }
        input.button-primary:hover {
            text-decoration: underline;
        }
    }
    /* Main */
    
    main#index {
        .main-container {
            margin: 25px auto 10px;
            max-width: 1200px;
            width: 100%;
            background-color: white;
            padding: 10px 15px;
        }
        article {
            img {
                width: 100%;
            }
        }
        section {
            padding: 20px;
            margin-bottom: 10px;
            text-decoration: underline white;
            color: white;
        }
        section#dokumenter {
            background-color: darkorange;
        }
        section#link {
            background-color: lightblue;
        }
        section#marked {
            background-color: dodgerblue;
        }
        section#events {
            background-color: orange;
        }
    }
    
    main#nyheder {
        .main-container {
            margin: 25px auto 10px;
            max-width: 1200px;
            width: 100%;
            background-color: white;
            padding: 10px 15px;
        }
        img {
            width: 100%;
        }
        hr {
            border-top: 2px dotted lightgrey;
        }
    }
    
    aside#sponsorer {
        h4 {
            font-size: 20px;
            line-height: 60px;
            background-color: lightgray;
            border: 1px solid grey;
            border-radius: 5px;
        }
        img {
            border: 1px solid grey;
            border-radius: 5px;
            padding-top: 5px;
        }
        .text-center {
            text-align: center;
        }
    }
    /* Footer */
    
    footer#main-footer {
        background-color: #FFC63C;
    }
    
    .footer-container {
        margin: auto;
        max-width: 900px;
        width: 100%;
        padding: 50px 0;
    }
    
    footer {
        .border-right {
            border-right: 1px solid black;
        }
        .text-center {
            text-align: center;
        }
    }
    
    .date {
        margin: 0 auto;
        max-width: 200px;
        background-color: wheat;
        height: auto;
        text-align: center;
        font-size: 15px;
        line-height: 30px;
        border-radius: 20px;
    }
    
    @media screen and (max-width: 991px) {
        aside.d-none {
            display: none;
        }
    }